body{
    font-family: Arial, sand-serif;
    background-color: #f0ecd7;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    margin-top: 22px;
    font-size: 70px;
}

p{
    max-width: 600pc;
    margin: 10px;
    font-size: 18px
}

form{
    max-width: 700px;
    margin: auto;
    background: rgb(255, 253, 143);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col, .right-col{
    width: 45%
}
.left-col div {
    margin-bottom: 12px;
    text-align: left;
  }
  
.right-col div {
    margin-bottom: 12px;
    text-align: left;
}
label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
  }

  input, select {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #c0cee6;
  }
  
  .button-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 14px;
    background: #007bff;
    color: rgb(203, 239, 247);
    border: none;
    cursor: pointer;
  }

select option:disabled {
    color: gray;
    background-color: #f0f0f0;
    cursor: not-allowed;
}